@spartacus:registry=https://git.cec.valantic.com/api/v4/projects/278/packages/npm/
//git.cec.valantic.com/api/v4/projects/278/packages/npm/:_authToken=glpat-D5G8fn7gHGyirNq2z91r
always-auth=true

# Replace default '^' prefix with '~' to allow only minor package updates
save-prefix='~'
